{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center my-3">
        <div class="text-center">
            <h1 class="my-5">Créer un article</h1>
        </div>
            
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    <div>    


{% endblock %}
